.movie-card{
background-color: white;
border-style: solid;
display: flex;
flex-direction:column;
justify-content:flex-end;

border-radius: 10px;
background-image: url("https://www.cnet.com/a/img/resize/3d224f21651f9747f611bdaaa9a02c16486c71a4/hub/2021/12/24/aa266356-f4e0-4498-a799-f827efe36ed5/spider-man-no-way-home-new-poster-1200.jpg?auto=webp&fit=crop&height=675&width=1200");
box-sizing: border-box;
padding:24px;
margin-bottom:12px;
}
.movie-title{
font-size: 24px;
font-weight:600;
color:white;
}
.movie-author{
font-size: 16px;
font-weight:400;
color:white;
margin-bottom: 16px;
}
.stakers{
font-size: 24px;
font-weight:500;
color:white;
display:flex;
width:100%;
}
.staked{
margin-right:10px;
}
.profile-icons{
 display:flex;
justify-content: center;
}
